html{
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  background: #333 url(../img/bgimg.jpeg) no-repeat center center / cover;
  color: #ccc;

}

h1, h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  color: #aaa;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}
.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #FFA4A2;
  overflow: hidden;
}
.about{
 background: #FFA4A2 url(../img/aboutmebg.jpeg) no-repeat center center / cover;
 padding:0 15rem;
}
.about img{
  border-radius: 25%;
}

.portfolio{
  background: #FFA4A2 url(../img/port-img.jpeg) no-repeat center center / cover;
}
.socialmedia{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  color: #FFA4A2;
  font-size: 10rem;
  opacity: 0.7;
  font-weight: 500;
}
.socialmedia h3{
  color: #FFA4A2;
  font-size: 8rem;
  opacity: 0.6;
  font-weight: 600;
}
.socialmedia:hover{
  opacity: 1.0;
  cursor: grabbing;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

@media only screen and (max-width: 600px) {
  .section{
    overflow: scroll;
    display: block;
  }
  .about {
    padding: 10px
  }
  .about img{
    height: 30%;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 2px;
    padding-top: 3px;
  }
  .socialmedia{
    opacity: 1;
    font-size: 5rem;
    font-weight: 200;
    text-align: center;
  }
  .socialmedia h3{
    font-size: 2rem;
    opacity: 1;
    font-weight: 200;
    text-align: center;
  }
}
